/*
body {
    background-color: blue;
} */

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

* {
    /* font-family: 'Roboto', sans-serif; */
    font-family: 'Roboto Condensed', sans-serif;
    color: black;
    padding: 0;
    margin: 0;
}

.interface {
    min-height: 100vh;
}

#logo-navbar {
    width: 100px;
    height: 100px;
}

.message {
    display: flex;
    align-items: center;
    justify-content: center;

    background: white;
    font-weight: bold;
    padding: 10px;
    border: 2px solid #ffc641;
    border-radius: 10px;

    position: fixed;
    left: 50%;
    bottom: 40px;
    transform: translateX(-50%);
}

.error {
    background-color: rgb(255, 101, 101);
    border: 2px solid rgb(159, 0, 0);
    padding: 10px;
    border-radius: 10px;
    color: white;
    text-align: center;
    width: 50%;
    margin: auto;
}

.create-link {
    font-weight: bold;
    color: white;
    background-color: rgb(84, 255, 84);
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 500ms;
}
.create-link:hover {
    background-color: #040;
}

.menu {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.events-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;

    padding: 0;

    width: 100%;
    /* background-color: red; */
    list-style: none;
}

.event {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;

    width: 80%;

    border-radius: 10px;
    border: 5px solid orange;
    /* z-index: 1; */
    /* background-color: blue; */
}

.event a {
    text-decoration: none;
}

.event a:hover {
    text-decoration: underline;
}

.event-text-container {
    flex-grow: 1;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.event img {
    width: 40%;
    /* z-index: 0; */
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.form-infra-list {
    display: flex;
    gap: 20px;
}
